<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ClientId</key>
    <string>DmKTtPK5Tsy6bN8QeMF0SO7qBgvsscEU</string>
    <key>Domain</key>
    <string>dev-tw6nqawswr0xhku4.us.auth0.com</string>
</dict>
</plist>